body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(235, 182, 48);
  background: linear-gradient(
    52deg,
    rgba(235, 182, 48, 0.768) 9%,
    rgba(27, 81, 45, 1) 33%,
    rgba(1, 28, 10, 0.894) 89%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
