.Ball {
  display: inline-block;
  width: 3em;
  height: 2.25em;
  margin-right: 0.5em;
  padding-top: 0.75em;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  /* background-color: coral; */
  background-color: tomato;
  color: white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}