.Todo {
  width: 450px;
  min-height: 400px;
  margin: auto;
  margin-top: 4em;
  color: rgb(71, 58, 58);
  background-color: aquamarine;
  border: 10px solid rgba(235, 233, 233, 0.897);
}
.Todo > div {
  padding: 1em 2em;
  margin-bottom: 0.3em;
}
.Todo h1 {
  margin-bottom: 0;
}
.Todo h1 + p {
  margin-top: 0.5em;
  font-size: 14px;
}
